# {{ ansible_managed }}
127.0.0.1	localhost {{ inventory_hostname }}
{% for host in groups['k8s_cluster']|sort %}
{% if host != inventory_hostname %}
{{ hostvars[host].ansible_host }}	{{ host }}
{% endif %}
{% endfor %}
