# {{ ansible_managed }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
{% for range in metallb_l2_addr %}
        - {{ range }}
{% endfor %}
...